{% extends 'base.html.twig' %}

{% block title %}Liste des series{% endblock %}

{% block body %}

    <h1 class="text-center mt-5">Liste des Séries</h1>

    <div class="mt-5 mb-5 row">
        {% for program in programs %}
            <div class="all-series col-lg-4 col-md-6 col-sm-10 d-flex align-items-center justify-content-center mt-5 mb-5">
                <a href="{{ path('lander_show_program', {'id' : program.id}) }}" class="text-decoration-none">
                    <div class="card">
                        <img src="{{ program.poster }}" class="card-img-top" alt="Affiche de {{ program.title }}">
                        <div class="card-body overflow-hidden">
                            <h5 class="card-title text-center">{{ program.title }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}