{% extends 'base.html.twig' %}

{% block title %}Nouveau Sous-utilisateur{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Nouveau Profil</h1>

        {{ include('sub_user/_form.html.twig') }}
    </div>
{% endblock %}
