{% extends 'base.html.twig' %}

{% block title %}Bienvenu sur SeriesLander!{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Bienvenue !</h1>
    {% if app.user %}
    <p class="text-center">Qui êtes-vous ?</p>
    {% endif %}
{% endblock %}
